/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.618em;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body, html {
  height: 100%;
  margin: 0;
  min-height: 100%;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

/* Custom */
body {
  background-color: #F5F8FA;
  font-family: Roboto;
  height: 100%;
}

#root, .app {
  height: 100%;
  width: 100%;
}

.landing-page {
  height: 100%;
  width: 100%;
  background: linear-gradient(0deg, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('https://res.cloudinary.com/waiyaki/image/upload/v1487589382/bg-img_rtjeaz.jpg');
  background-size: cover;
}

.landing-page-content {
  padding-top: 60px;
  height: 100%;
}

.lead-content {
  color: #F5F5F5;
}

.lead-content h1 {
  font-size: 4.2em;
}

.lead-content h1, .lead-content p {
  margin: 0.8em 0;
}

.lead-content p {
  font-size: 1.2em;
  line-height: 1.2em;
}
